html {
    font-size: 14px;
}

h2 {
    font-size: 1.2rem;
}

header {
    text-align: center;
}

#shelf-container {
    margin: auto 3rem auto 3rem;
    border: solid;
    min-height: 650px;
}

#new-book {
    text-align: center;
}

#book-form {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black;
    color: white;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
}

#bookshelf div {
    width: 200px;
}

.book-card {
    border: solid;
    text-align: center;
}

