html {
    font-size: 14px;
}

h2 {
    font-size: 1.2rem;
}

#book-form {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black;
    color: white;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
}

#bookshelf div {
    width: 200px;
}